@model Test.UI.Models.Turnover

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Turnover</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Group_ID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Group_ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Class_ID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Class_ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Account)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Account)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Start_Active)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Start_Active)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Start_Passive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Start_Passive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Turn_Debit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Turn_Debit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Turn_Credit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Turn_Credit)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
